
@import "./imports.css";
/* 
  Page 1 - max-height: 350vh

  Default CSS
*/

h3 {
  margin: 0 auto;
  width: 80%;
  text-align: center;}


.header {
  height: 100%;
  width: 100%;

  padding: 10px 0;

  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source:
    linear-gradient(to right, grey, white, grey);

  margin: 0 auto;

  background: linear-gradient(to bottom, white 55%, rgba(0, 174, 255, 0.5));
  
  text-align: center;
}
.top-text-stuff {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
}
  

/* Aesthetic */
.bar-gradient {
  width: 80%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, transparent, black 20%, black 80%, transparent);
  border-style: solid;
  border-width: 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;}

.risen-border-faded-background { 
  background-color: grey;
  border: solid blue 2px;}

/*  random */

.gradient-grey-middle {
  background: linear-gradient(to right, transparent, rgba( 70, 55, 70, .33), transparent);
}

.laf {
  background: linear-gradient(to right, rgba( 70, 55, 70, .33), transparent, rgba( 70, 55, 70, .33));
}

.center-text {
  text-align: center;
  width: 100%;
}
.text-div {
  position: absolute;
  height: 100%;
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-full {
  width: 100%;
}

/* random pt.2 */

.white-space-nowrap {
  white-space: nowrap;
}
.custom-1 {
  margin: 0 auto;
}
.x-padded {
  padding: 0px 10px 0px 10px;
}


/* Hook classes? */

.hook-text {
  text-align: center;
  margin: 0 auto;
  padding: 10px auto 10px auto;
}
.hook-margin {
  text-align: center;
  width: 95%;
  margin: 20px auto 20px auto;
}
.hook-margin-y-axis-5-x-axis-0 {
  text-align: center;
  width: 100%;
  margin: 5px 0 5px 0;
}
.hook-padding {
  text-align: center;
  width: 95%;
  padding: 20px auto 20px auto;
}

/* margins?? */
.small-margin {
  width: 90%;
  margin: 20px auto auto auto;
}

b.white-text {
  margin: 0 auto 5px auto;
  font-weight: 900;
  text-decoration: underline;}
.b-i {
  font-weight: bold;
  font-style: italic;}
.forword {
  margin: 10px auto;}

/* 
  I.) Top of page; Header
*/
.header {
  background: linear-gradient(to bottom, white 55%, rgba(255, 157, 0, 0.911));
  height: 100%;
  width: 100%;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source:
    linear-gradient(to right, grey, white, grey);
}
.top-text {
  width: 95%;
  height: auto;
  margin: 10px auto 0 auto;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px auto auto auto;
  margin: 0 auto auto auto;
  width: 100%;
  height: 5vh;
}

.buisness-name {
  color: navy;
  margin: 0;
}
.slogan {
  padding: 0px auto 10px auto;
  color: lightslategray;
  width: 95%;
  text-align: center;
  margin: 0 auto;
}
.small-overview {
  margin: 10px auto;
}


.links {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 4px auto;
  height: auto;
  width: 65%;

}
.links a {
  color: white;
  background-color: rgb(255, 157, 0);
  border-color: rgba(0,0,255,0.3);
  border-width: 1px;
  border-style: solid;
  border-radius: 10%/20%;
  padding: 2px 6px 2px 6px;
  text-decoration: none;
}
.links a:last-child {
  border-radius: 25/5%;
}


/* II.) Main content */
.home-info {
  background-color: white;
  height: auto;
  position: relative;}

.header {
  text-align: center;
  height: auto;
  width: 100%;
  /* -- 100vw !== 100%; not all rectangles are sqares.
  parental width limits will have some effect(TODO: test it) -- */
  padding: 10px 0;
  margin: 0 auto;}

/* second content block(first is the carosel */
.list-options {
  background: rgba(0,0,0, 0.5);
}
.list-title {
  font-size: 24px;
  text-decoration: underline;
}
.list-options h3, 
.list-options ul li {
  color: white;
}

.list-options ul li {
  font-size: 18px;
}

.options-cta {
  font-size: 18px;
  color: white;
}

.contact-link {
  color: blue;
}

/* end second */


/* third content block */
.shape {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5));
}

.sr {
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;}
.s {
  width: 55%;
  height: auto;

  margin: 5%;}
.r {
  color: white;
  width: 90%;
  height: 35%;
  overflow: hidden;
  background: rgba(150,150,150, 0.533);}

/* end third */

/* n.) Foot o' page */
.footer {
  width: 100%;
  height: auto;

  padding: 2px 0;
  margin: 0 auto;

  background: navy;}

/* availability hours */
.time-link {
  color: white;}

  
/* n.) Screen changes for Desktop */
@media screen and (min-width: 600px) {
  body {
    background: rgba(20, 20, 20, 0.8);
  }

  .all-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 35%;
  }
}

/* n.) Testing */

/* 06/24 */

b {
  color: orange;
}